@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Spotify Gold API</h1>
    <p>Read the <a href="https://github.com/antonionavarro04/Spotify-Gold-API/tree/csharp" target="_blank">Documentation</a>. in our Repository</p>
</div>
