@{
    ViewData["Title"] = "Home Page";
}

<script defer src="site.js"></script>

<div class="text-center">
    <h1 class="display-4">Spotify Gold API</h1>
    <p>Enter the youtube link to download your file</p>
    <input type="text" id="youtubeLink" />
    <button onclick="download()">Download</button>
</div>
