@{
    ViewData["Title"] = "Home Page";
}

<script defer src="site.js"></script>

<div class="text-center">
    <h1 class="display-4">Spotify Gold API</h1>
    <h2>Thanks for Your IP: @ViewBag.IpPlusPort !!!</h2>
    <p>Enter the youtube link to download your file</p>
    <input type="text" id="youtubeLink" />
    <select>
        <option value="0">Best</option>
        <option value="1">Normal</option>
        <option value="2">Lowest</option>
    </select>
    <button onclick="download()">Download</button>
</div>
